
    .perfilimg {
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    .name{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        color: white;
    }

    .subname{
        text-align: center;
        font-size: 20px;
        font-style: oblique;
        color: white;
    }

    .subname1 {
        text-align: center;
        font-size: 20px;
        font-style: oblique;
        color: white;
    }

    .header{
        background: linear-gradient(rgb(0, 53, 83),rgb(25, 98, 139),rgb(39, 112, 155));
    }

    

    .legs {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: justify;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .titles{
        margin-left: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:  35px;
        
    }

    .hablist{
        background: linear-gradient(rgb(0,53,83), rgb(25, 98, 139));
        color: white;
        padding: 10px 19px; /*distancia da palavra até a borda*/
        border-radius: 25px; /*deixa a borda redonda*/
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        display: inline-block; /*separou, antes a linha debaixo estava sobrepondo a outra, no entando as bordas estavam coladas*/
        margin: 3px; /*com esse margin você fez com que nao ficassem mais grudadas*/
        margin-left: 25px;
    }

    .hablist:hover{
        transform: scale(1.1);
    }

    .bg{
        margin-top: 25px;
        background-color: white;
        box-shadow: 7px 7px 7px 7px rgb(199, 198, 198)    ;
        border-radius: 20px;
        margin-left: 20px;
        margin-right: 20px;

    }
    /*essa parte de baixo é a responsavel pela animação de passar mouse por cima*/
    .bg:hover{
        transform: scale(1.01);
    }
    /* fim dessa parte de animação*/


    .subtitle{
        font-size: 25px;
        margin-left: 25px;
    }

    .legs1 {
        text-align: justify;
        font-size: 20px;
        margin-left: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-right: 25px;
    }


    .inst {
        margin-left: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-style: italic;
        margin-left: 25px;
        margin-right: 25px;
    }

    .footer{

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: center  ;
        
    }

    .linkedin{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    color: inherit;
    text-decoration: none;
    margin: 0 auto;
    margin-left: 20px;
    }

    .bgacad {
        background-color: rgba(232, 233, 233, 0.74);
    }

    .iad{
        margin-top: 20px;
    }


.projetos {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    background-color: aliceblue;
    color: rgb(46, 99, 150);
    display: block;
    margin: 0 auto;
    width: fit-content; /*centralizou no meio da página*/
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-style: oblique;    
    box-shadow: 2px 2px 2px 2px rgb(133, 133, 133);
}

.projetos:hover{
    transform: scale(1.1);
}
